@using CookDelicious.Core.Models.Sorting
@model SortViewModel
@{
    ViewData["Title"] = "Sort Recipes";
}

    <link rel="stylesheet" href="~/css/style.css">

<body>

<div class="receipe-post-area section-padding-80">
    <div class="receipe-post-search mb-80">
            <div class="container">
                <form asp-action="All" asp-route-pageNumber="1" method="post">
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            <select class="col-sm-9  text-secondary" asp-for="DishType" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                <option data-select2-id="35">Аламинути</option>
                                <option data-select2-id="36">Предястия</option>
                                <option data-select2-id="37">Основни ястия</option>
                                <option data-select2-id="38">Десерти</option>
                                <option data-select2-id="39">Коктейли</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-3">
                            <select class="col-sm-9  text-secondary" asp-for="Category" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                <option data-select2-id="35">Супи</option>
                                <option data-select2-id="36">Пици</option>
                                <option data-select2-id="36">Салати</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-3">
                            <select class="col-sm-9  text-secondary" asp-for="Date" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                <option data-select2-id="35">Дата (Възходящ ред)</option>
                                <option data-select2-id="36">Дата (Низходящ ред)</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-3">
                            <select class="col-sm-9  text-secondary" asp-for="Rating" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                <option data-select2-id="35">Рейтинг (Възходящ ред)</option>
                                <option data-select2-id="36">Рейтинг (Низходящ ред)</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-3">
                        <hr />
                            <button id="goToRecipes" type="submit" class="btn delicious-btn">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>
</body>
