@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<link rel="stylesheet" href="~/register-form-files/css/style.css">

<body>
    <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h1>@ViewData["Title"]</h1>
                        <p>@Model.Messages</p>
                </div>
                  </div>
                 </div>
           </section>
</body>

