@{
    ViewData["Title"] = "CookDelicious";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>@ViewData["Title"]</title>

    <!-- Favicon -->
    <link rel="icon" href="~/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/classy-nav.min.css">
    <link rel="stylesheet" href="~/css/custom-icon.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/nice-select.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Plugins/toastr/toastr.min.css">
    @await RenderSectionAsync("Scripts", required: false)
</head>

<body>
    
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between">
                    <!-- Breaking News -->
                    <div class="col-12 col-sm-6">
                        <div class="breaking-news">
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    <li><a href="/">Hello World!</a></li>
                                    <li><a href="/">Welcome to Cook Delicious.</a></li>
                                    <li><a href="/">Join our cooking community!</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Top Social Info -->
                    <div class="col-12 col-sm-6">
                        <div class="top-social-info text-right">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="/"><img src="~/img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li class="active">
                                            <a class="active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                        </li>
                                        <li>
						                    <a class="active" asp-area="" asp-controller="Recipe" asp-action="All">Recipes</a>
					                    </li>
					                    <li>
						                    <a class="active" asp-area="" asp-controller="User" asp-action="Profile">Profile</a>
					                    </li>
                                        <li><a href="#">Mega Menu</a>
                                            <div class="megamenu">
                                                <ul class="single-mega cn-col-4">
                                                    <li class="title">Catagory</li>
                                                    <li><a href="index.html">Home</a></li>
                                                    <li><a href="about.html">About Us</a></li>
                                                    <li><a href="blog-post.html">Blog Post</a></li>
                                                    <li><a href="receipe-post.html">Receipe Post</a></li>
                                                    <li><a href="contact.html">Contact</a></li>
                                                    <li><a href="elements.html">Elements</a></li>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <li class="title">Catagory</li>
                                                    <li><a href="index.html">Home</a></li>
                                                    <li><a href="about.html">About Us</a></li>
                                                    <li><a href="blog-post.html">Blog Post</a></li>
                                                    <li><a href="receipe-post.html">Receipe Post</a></li>
                                                    <li><a href="contact.html">Contact</a></li>
                                                    <li><a href="elements.html">Elements</a></li>
                                                </ul>
                                                <ul class="single-mega cn-col-4">
                                                    <li class="title">Catagory</li>
                                                    <li><a href="index.html">Home</a></li>
                                                    <li><a href="about.html">About Us</a></li>
                                                    <li><a href="blog-post.html">Blog Post</a></li>
                                                    <li><a href="receipe-post.html">Receipe Post</a></li>
                                                    <li><a href="contact.html">Contact</a></li>
                                                    <li><a href="elements.html">Elements</a></li>
                                                </ul>
                                                <div class="single-mega cn-col-4">
                                                    <div class="receipe-slider owl-carousel">
                                                        <a href="#"><img src="img/bg-img/bg1.jpg" alt=""></a>
                                                        <a href="#"><img src="img/bg-img/bg6.jpg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                        @if (User.IsInRole("Administrator"))
                                        {
                                            <li>
						                        <a class="active" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Menu</a>
					                        </li>
                                        }
                                        <li class="active">
                                         <form class="active" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                            <button type="submit" class="custom-button">Logout</button>
                                        </form>
                                    </li>
                                    }
                                    else
                                    {
                                        <li class="active">
                                            <a class="active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                        </li>
                                        <li>
                                            <a class="active" asp-area="" asp-controller="Recipe" asp-action="All">Recipes</a>
                                        </li>
                                        <li>
                                            <a class="active" href="/Identity/Account/Login">Login</a>
                                        </li>
                                         <li>
                                            <a class="active" href="/Identity/Account/Register">Register</a>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    }
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    @RenderBody()
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <!-- Footer Social Info -->
                    <div class="footer-social-info text-right">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </div>
                    <!-- Footer Logo -->
                    <div class="footer-logo">
                        <a href="/"><img src="~/img/core-img/logo.png" alt=""></a>
                    </div>
                    <p>
                        Copyright & copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
<!-- jQuery -->
<script src="~/js/jquery/jquery-2.2.4.min.js"></script>
<script src="~/js/bootstrap/popper.min.js"></script>
<script src="~/js/bootstrap/bootstrap.min.js"></script>
<script src="~/js/Plugins/plugins.js"></script>
<script src="~/js/active.js"></script>

<script src="~/plugins/toastr/toastr.min.js"></script>
<partial name="_UserMessages" />
@await RenderSectionAsync("Scripts", required: false)

