@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<link rel="stylesheet" href="~/register-form-files/css/style.css">

<body>
    <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h1>@ViewData["Title"]</h1>
                        <partial name="_StatusMessage" model="Model.StatusMessage" />
                    </div>
                  </div>
                 </div>
           </section>
</body>