@page
@model LoginModel

@{
    ViewData["Title"] = "Log In";
}

<link rel="stylesheet" href="~/register-form-files/css/style.css">
<link rel="stylesheet" href="~/register-form-files/fonts/material-icon/css/material-design-iconic-font.min.css">
<partial name="_ValidationScriptsPartial" />

<body>
    <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/register-form-files/images/Login.jpg" alt="sing up image"></figure>
                        <a href="/Identity/Account/Register" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">@ViewData["Title"]</h2>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <form id="account" method="post">
                            <div class="form-group">
                                <input asp-for="Input.UserName" class="text email" autocomplete="username" aria-required="true" placeholder="Email"/>
                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Password" class="text email" autocomplete="new-password" aria-required="true" placeholder="Password"/>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                             <div class="checkbox">
                                <input class="label-agree-term" asp-for="Input.RememberMe" />
                                <label asp-for="Input.RememberMe" class="label-agree-term"><span><span></span></span>
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="login-submit" class="form-submit" value="Log in"/>
                            </div>
                            <div>
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                </p>
                                <p>
                                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                </p>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>

<script src="~/register-form-files/js/jquery.min.js"></script>
<script src="~/register-form-files/js/main.js"></script>
