@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<link rel="stylesheet" href="~/register-form-files/css/style.css">

<body>
    <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h1>@ViewData["Title"]</h1>
                        @if (@Model.DisplayConfirmAccountLink)
                            {
                                <p>
                                    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">THESE DOCS</a> for how to configure a real email sender.
                                    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">CLICK HERE TO CONFIRM YOUR ACCOUNT</a>
                                </p>
                            }
                            else
                            {
                                <p>
                                    Please check your email to confirm your account.
                                </p>
                            }
                    </div>
                  </div>
                 </div>
           </section>
</body>
