@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/register-form-files/css/style.css">

<body>
	<section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">@ViewData["Title"]</h2>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <partial name="_ValidationScriptsPartial" />
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="Username" id="name" placeholder="Username"/>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Email" class="text email" autocomplete="username" aria-required="true" placeholder="Email"/>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Password" class="text email" autocomplete="new-password" aria-required="true" placeholder="Password"/>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.ConfirmPassword" class="text email" autocomplete="new-password" aria-required="true" placeholder="ConfirmPassword"/>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="~/register-form-files/images/register.jpg" alt="sing up image"></figure>
                        <a href="/Identity/Account/Login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
</body>

<script src="~/register-form-files/js/jquery.min.js"></script>
<script src="~/register-form-files/js/main.js"></script>
