@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html>
<head>
<title>@ViewData["Title"]</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<partial name="_ValidationScriptsPartial" />
<link href="~/css/register.css" rel="stylesheet" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Register</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
					<div class="form-floating">
                         <label asp-for="Input.Email"></label>
                         <input asp-for="Input.Email" class="text email" autocomplete="username" aria-required="true" />
                         <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
					<div class="form-floating">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="text email" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
					<div class="form-floating">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="text email" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
					<div class="wthree-text">
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGNUP">
				</form>
				<p>You already have an Account? <a href="/Identity/Account/Login"> Login Now!</a></p>
			</div>
		</div>
		<!-- copyright -->
	</div>
	<!-- //main -->
</body>
</html>
