@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<partial name="_ValidationScriptsPartial" />
<link rel="stylesheet" href="~/register-form-files/css/style.css">

<body>
	<section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h1>@ViewData["Title"]</h1>
                        <h3>Enter your email</h3>
						<form form method="post">
							<div asp-validation-summary="All" class="text-danger"></div>
							<div class="form-group">
                                <input asp-for="Input.Email" class="text email" autocomplete="username" aria-required="true" placeholder="Email"/>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
							<div class="wthree-text">
								<div class="clear"> </div>
							</div>
							<input type="submit" class="form-submit" value="Resend">
						</form>
                    </div>
                  </div>
                 </div>
           </section>
</body>
