@using CookDelicious.Core.Models.Admin.Comments
@using CookDelicious.Core.Models.Paiging
@model List<AdminCommentViewModel>


<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Коментари под рецепти</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 300px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Автор</th>
								<th>Съдържание</th>
								<th>Статус на коментара</th>
								<th>Команда</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var comment in Model)
							{
								<tr>
									<td>@comment.AuthorName</td>
									<td>@comment.Content</td>
									@{
										string status = "";

										if (comment.IsDeleted == null || comment.IsDeleted == true)
										{
											status = "Изтрит";
										}
										else
										{
											status = "Публичен";
										}
									}
									<td>@status</td>
									<td>
										<div class="reply px-4">
											<a href="/Admin/Recipe/DeleteRecipeComment/@comment.Id">Изтрий</a>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
	</div>
</div>