@using CookDelicious.Core.Models.Admin.Recipe
@model List<ManageRecipeViewModel>

<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Рецепти</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 300px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Автор</th>
								<th>Заглавие на рецепта</th>
								<th>Команда</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var recipe in Model)
							{
								<tr>
									<td>@recipe.AuthorName</td>
									<td>@recipe.Title</td>
									<td>
										<div class="reply px-4">
											<a href="/Admin/Recipe/DeleteRecipe/@recipe.Id">Изтрий</a>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
	</div>
</div>