@using CookDelicious.Core.Models.Product
@model List<ProductViewModel>


<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Продукти</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 300px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Име</th>
								<th>Тип</th>
								<th>Команда</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var product in Model)
							{
								<tr>
									<td>@product.Name</td>
									<td>@product.Type</td>
									<td>
										<div class="reply px-4">
											<a href="/Admin/Product/DeleteProduct/@product.Id">Изтрий</a>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
	</div>
</div>