@using CookDelicious.Core.Models.Admin.Category
@model List<CategoryViewModel>

<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Категории за рецепти</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 300px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Име</th>
								<th>Команда</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var category in Model)
							{
								<tr>
									<td>@category.Name</td>
									<td>
										<div class="reply px-4">
											<a href="/Admin/Category/DeleteCategory/@category.Id">Изтрий</a>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
	</div>
</div>