@using CookDelicious.Core.Models.Admin.Forum
@model List<AllForumPostViewModel>


<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Форум публикации</h3>
				</div>
				<div class="card-body table-responsive p-0" style="height: 300px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Автор</th>
								<th>Заглавие на публикацията</th>
								<th>Команда</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var post in Model)
							{
								<tr>
									<td>@post.AuthorName</td>
									<td>@post.Title</td>
									<td>
										<div class="reply px-4">
											<a href="/Admin/Forum/DeleteForumPost/@post.Id">Изтрий</a>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>