@{
	ViewData["Title"] = "Home Page";
}

<section class="hero-area">
	<div class="hero-slides owl-carousel">
		<!-- Single Hero Slide -->
		<div class="single-hero-slide bg-img" style="background-image: url(/img/bg-img/bg1.jpg);">
			<div class="container h-100">
				<div class="row h-100 align-items-center">
					<div class="col-12 col-md-9 col-lg-7 col-xl-6">
						<div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
							<h2 data-animation="fadeInUp" data-delay="300ms">Delicios Homemade Burger</h2>
							<p data-animation="fadeInUp" data-delay="700ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
							<a href="#" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Receipe</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Single Hero Slide -->
		<div class="single-hero-slide bg-img" style="background-image: url(/img/bg-img/bg6.jpg);">
			<div class="container h-100">
				<div class="row h-100 align-items-center">
					<div class="col-12 col-md-9 col-lg-7 col-xl-6">
						<div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
							<h2 data-animation="fadeInUp" data-delay="300ms">Delicios Homemade Burger</h2>
							<p data-animation="fadeInUp" data-delay="700ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
							<a href="#" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Receipe</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Single Hero Slide -->
		<div class="single-hero-slide bg-img" style="background-image: url(/img/bg-img/bg7.jpg);">
			<div class="container h-100">
				<div class="row h-100 align-items-center">
					<div class="col-12 col-md-9 col-lg-7 col-xl-6">
						<div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
							<h2 data-animation="fadeInUp" data-delay="300ms">Delicios Homemade Burger</h2>
							<p data-animation="fadeInUp" data-delay="700ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
							<a href="#" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Receipe</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ##### Hero Area End ##### -->
<!-- ##### Top Catagory Area Start ##### -->
<section class="top-catagory-area section-padding-80-0">
	<div class="container">
		<div class="row">
			<!-- Top Catagory Area -->
			<div class="col-12 col-lg-6">
				<div class="single-top-catagory">
					<img src="~/img/bg-img/bg2.jpg" alt="">
					<!-- Content -->
					<div class="top-cta-content">
						<h3>Strawberry Cake</h3>
						<h6>Simple &amp; Delicios</h6>
						<a href="receipe-post.html" class="btn delicious-btn">See Full Receipe</a>
					</div>
				</div>
			</div>
			<!-- Top Catagory Area -->
			<div class="col-12 col-lg-6">
				<div class="single-top-catagory">
					<img src="~/img/bg-img/bg3.jpg" alt="">
					<!-- Content -->
					<div class="top-cta-content">
						<h3>Chinesse Noodles</h3>
						<h6>Simple &amp; Delicios</h6>
						<a href="receipe-post.html" class="btn delicious-btn">See Full Receipe</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ##### Top Catagory Area End ##### -->
<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-heading">
					<h3>The best Receipies</h3>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- Single Best Receipe Area -->
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="single-best-receipe-area mb-30">
					<img src="~/img/bg-img/r1.jpg" alt="">
					<div class="receipe-content">
						<a href="receipe-post.html">
							<h5>Sushi Easy Receipy</h5>
						</a>
						<div class="ratings">
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>

			<!-- Single Best Receipe Area -->
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="single-best-receipe-area mb-30">
					<img src="~/img/bg-img/r2.jpg" alt="">
					<div class="receipe-content">
						<a href="receipe-post.html">
							<h5>Homemade Burger</h5>
						</a>
						<div class="ratings">
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>

			<!-- Single Best Receipe Area -->
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="single-best-receipe-area mb-30">
					<img src="~/img/bg-img/r3.jpg" alt="">
					<div class="receipe-content">
						<a href="receipe-post.html">
							<h5>Vegan Smoothie</h5>
						</a>
						<div class="ratings">
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>

			<!-- Single Best Receipe Area -->
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="single-best-receipe-area mb-30">
					<img src="~/img/bg-img/r4.jpg" alt="">
					<div class="receipe-content">
						<a href="receipe-post.html">
							<h5>Calabasa soup</h5>
						</a>
						<div class="ratings">
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>

			<!-- Single Best Receipe Area -->
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="single-best-receipe-area mb-30">
					<img src="~/img/bg-img/r5.jpg" alt="">
					<div class="receipe-content">
						<a href="receipe-post.html">
							<h5>Homemade Breakfast</h5>
						</a>
						<div class="ratings">
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>

			<!-- Single Best Receipe Area -->
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="single-best-receipe-area mb-30">
					<img src="~/img/bg-img/r6.jpg" alt="">
					<div class="receipe-content">
						<a href="receipe-post.html">
							<h5>Healthy Fruit Desert</h5>
						</a>
						<div class="ratings">
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>