@*@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Private Chef</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="css/ken-burns.css" rel="stylesheet" type="text/css" media="all" />
	<link type="text/css" rel="stylesheet" href="css/animate.css">
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
<body>
<section id="header">
 <nav class="navbar navbar-default navbar-fixed-top">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand navbar-brand-centered"><a href="index.html"><div class="ribbon  ribbon--red">Private Chef</div></a></div>
		 </div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<div>
			<ul class="nav navbar-nav navbar">
				<li class="active"><a href="index.html">HOME</a></li>
				<li><a href="recipes.html">RECIPES</a></li>
				<li><a href="details.html">DETAILS</a></li>
                <li><a href="products.html">PRODUCTS</a></li>			
				<li><a href="products-details.html">PRODUCTS DETAILS</a></li>
				<li><a href="contact.html">CONTACT</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
</section>
<section id="center" class="center_home">
<div class="banner">
		<div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover">
			<!-- Wrapper-for-Slides -->
            <div class="carousel-inner" role="listbox">  
                <div class="item active"><!-- First-Slide -->
                    <img src="img/1.jpg" alt="" class="img-responsive">
                    <div class="carousel-caption kb_caption kb_caption_right">
                        <h1 data-animation="animated flipInX" class="">Lorem Ipsum Is Simply</h1>
                        <p data-animation="animated flipInX" class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy  text ever since the when an unknown printer took a galley of type and scrambled [...]</p>
						<h4><a href="#"class="button hvr-shutter-out-horizontal">Read More</a></h4>
                    </div>
                </div>  
                <div class="item"> <!-- Second-Slide -->
                    <img src="img/2.jpg" alt="" class="img-responsive">
                    <div class="carousel-caption kb_caption kb_caption_right">
                        <h1 data-animation="animated fadeInDown">We Provide Our best</h1>
                        <p data-animation="animated fadeInUp">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						Lorem Ipsum has been the industry's standard dummy  text ever since the when an unknown printer took a galley of type and scrambled [...]</p>
						<h4><a href="#"class="button hvr-shutter-out-horizontal">Read More</a></h4>
                    </div>
                </div> 
                <div class="item"><!-- Third-Slide -->
                    <img src="img/3.jpg" alt="" class="img-responsive">
                    <div class="carousel-caption kb_caption kb_caption_right">
                        <h1 data-animation="animated fadeInDown">Printing And Typesetting</h1>
                        <p data-animation="animated fadeInUp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy  text ever since the when an unknown printer took a galley of type and scrambled [...]</p>
						<h4><a href="#"class="button">Read More</a></h4>
                    </div>
                </div> 
            </div> 
            <!-- Left-Button -->
            <a class="left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
				<span class="fa fa-angle-left kb_icons" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a> 
            <!-- Right-Button -->
            <a class="right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
                <span class="fa fa-angle-right kb_icons" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a> 
        </div>
		<script src="js/custom.js"></script>
	</div>
</section>
<section id="event">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <div class="event_1">
	 <h3>All Time Favourites</h3>
	<div class=" content-top2">
	 <h4 class="text-center">O</h4>
	</div>
	</div>
	<div class="col-sm-6">
	 <div class="event_2">
	  <!-- colored -->
                  <div class="ih-item square colored effect14 bottom_to_top"><a href="#">
                      <div class="img"><img src="img/16.jpg" alt="abc" class="img-responsive"></div>
                      <div class="info">
                        <h3>Integer nec odionec</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio.
							Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. 
							Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.
							torquent per conubia nostra, per inceptos . Curabitursodales ligula in libero. Sed.</p>
                      </div></a></div>
                  <!-- end colored -->
	 </div>
	</div>
	<div class="col-sm-6">
	 <div class="event_2">
	  <!-- colored -->
                  <div class="ih-item square colored effect14 bottom_to_top"><a href="#">
                      <div class="img"><img src="img/17.jpg" alt="abc" class="img-responsive"></div>
                      <div class="info">
                        <h3>Integer nec odionec</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio.
							Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. 
							Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.
							torquent per conubia nostra, per inceptos . Curabitursodales ligula in libero. Sed.</p>
                      </div></a></div>
                  <!-- end colored -->
	 </div>
	</div>
	<div class="col-sm-6">
	 <div class="event_2">
	  <!-- colored -->
                  <div class="ih-item square colored effect14 bottom_to_top"><a href="#">
                      <div class="img"><img src="img/18.jpg" alt="abc" class="img-responsive"></div>
                      <div class="info">
                       <h3>Integer nec odionec</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio.
							Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. 
							Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.
							torquent per conubia nostra, per inceptos . Curabitursodales ligula in libero. Sed.</p>
                      </div></a></div>
                  <!-- end colored -->
	 </div>
	</div>
	<div class="col-sm-6">
	 <div class="event_2">
	  <!-- colored -->
                  <div class="ih-item square colored effect14 bottom_to_top"><a href="#">
                      <div class="img"><img src="img/19.jpg" alt="abc" class="img-responsive"></div>
                      <div class="info">
                        <h3>Integer nec odionec</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio.
							Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. 
							Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.
							torquent per conubia nostra, per inceptos . Curabitursodales ligula in libero. Sed.</p>
                      </div></a></div>
                  <!-- end colored -->
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>
<section id="news">
 <div class="container">
  <div class="row">
   <div class="news_1 clearfix">
    <div class="news_2">
	 <h2>Seasonal Flavours</h2>
	 <div class=" content-top2">
	 <h4 class="text-center">O</h4>
	 </div>
    <div class="col-sm-6">
	 <div class="news_3">
	  <a href="#"><img src="img/20.jpg" alt="abc" class="img_responsive"></a>
	 </div>
	 <div class="news_4 clearfix">
	  <div class="col-sm-3 space_all">
	   <div class="news_5">
	    <h4>10 Th <br>JAN</h4>
	   </div>
	  </div>
	  <div class="col-sm-9 space_all">
	   <div class="news_6">
	    <h3>Earum rerum hic tenetur</h3>
		<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
		<a href="#" class="button">Read more</a>
	   </div>
	  </div>
	 </div>
	</div>
	<div class="col-sm-6">
	 <div class="news_3">
	  <a href="#"><img src="img/21.jpg" alt="abc" class="img_responsive"></a>
	 </div>
	 <div class="news_4 clearfix">
	  <div class="col-sm-3 space_all">
	   <div class="news_5">
	    <h4>12 Th <br>JAN</h4>
	   </div>
	  </div>
	  <div class="col-sm-9 space_all">
	   <div class="news_6">
	    <h3>Earum rerum hic tenetur</h3>
		<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
		<a href="#" class="button">Read more</a>
	   </div>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</div>
</section>
<section id="footer">
 <div class="container">
  <div class="row">
   <div class="footer_1 clearfix">
    <div class="col-sm-2">
	 <div class="footer_2">
	  <h4>Home</h4>
	  <ul>
	       <li><a href="#">Our Range</a></li>
	       <li><a href="#">From our kitchen</a></li>
	       <li><a href="#">FAQs</a></li>
	       <li><a href="#">Privacy Policy</a></li>
	       <li><a href="#">Terms of Use</a></li>
	  </ul>
	 </div>
	</div>
	<div class="col-sm-2">
	 <div class="footer_2">
	  <h4>Favourites</h4>
	  <ul>
	       <li><a href="#">Chicken Recipes</a></li>
	       <li><a href="#">Aloo Recipes</a></li>
	       <li><a href="#">MAGGI Noodle Recipes</a></li>
	       <li><a href="#">Paneer Recipes</a></li>
	       <li><a href="#">Small Meals Recipes</a></li>
	       <li><a href="#">Breakfast Recipes</a></li>
	  </ul>
	 </div>
	</div>
	<div class="col-sm-2">
	 <div class="footer_2">
	  <h4>Recipes</h4>
	  <ul>
	       <li><a href="#">Palak Paneer Recipe</a></li>
	       <li><a href="#">Matar Paneer Recipe</a></li>
	       <li><a href="#">Chicken Biryani Recipe</a></li>
	       <li><a href="#">Chilli Chicken Recipe</a></li>
	       <li><a href="#">Aloo Matar Recipe</a></li>
	       <li><a href="#">Aloo Gobhi Recipe</a></li>
	  </ul>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="footer_2">
	  <h4>Talk To Us</h4>
	  <ul>
	       <li><a href="#">Copyright</a></li>
	       <li><a href="#">About Nestlé</a></li>
	       <li><a href="#">Creating Shared Value at Nestlé</a></li>
	       <li><a href="#">Nutrition, Health & Wellness at Nestlé</a></li>
	       <li><a href="#">Our Websites and Social Media</a></li>
	       <li><a href="#">Contact Us</a></li>
	  </ul>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="footer_3">
	  <h4>Follow Us</h4>
	  <ul>
	       <li><a href="#"><i class="fa fa-facebook"></i></a></li>
	       <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	       <li><a href="#"><i class="fa fa-youtube"></i></a></li>
	       <li><a href="#"><i class="fa fa-instagram"></i></a></li>
	  </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>
<section id="footer_main" class="clearfix">
  <div class="footer_main_1">
   <p class="text-center">© 2013 Your Website Name. All Rights Reserved. Design by<a href="http://www.TemplateOnWeb.com"> Template On Web</a> </p>
  </div>
</section>
</body>
</html>*@